@model IEnumerable<ShoppingCartDTO>

<div id="checkout-cart-items">
    @if(Model.Any()){
        var totalAmount = Model.Sum(item => item.Product.UnitPrice * item.PurchCount);
        @foreach (var item in Model)
        {
            <div class="d-flex justify-content-between align-items-center mb-3 border-bottom">
                <div>
                    <h5 class="mb-3">@item.Product.ProductName</h5>
                    <p>
                        單價: NT$ @item.Product.UnitPrice<br />
                        數量: <span class="d-inline-block"><span class="input-group w-auto">
                            <input id="@(string.Concat("purchNum_", item.Product.ProductID))" name="Count" type="number" min="1" max="@item.Product.UnitsInStock" class="purch_num text-center fs-8 border-0 border-top border-bottom" value="@item.PurchCount" />
                        </span></span><br />
                        小計: NT$ @(item.Product.UnitPrice * item.PurchCount)
                    </p>
                </div>
                <div>
                    <form asp-action="RemoveFromCart" method="post" class="d-inline">
                        <input type="hidden" name="productId" value="@item.Product.ProductID" />
                        <button type="button" class="btn btn-danger remove-cart-item">移除</button>
                    </form>
                </div>
            </div>
        }
        <div class="text-end">總計： NT$ @totalAmount</div>
    }
    else 
    {
        <div class="alert alert-info">
            <p>您的購物車是空的。</p>
        </div>
    }

</div>